body{color:#fff;background-color:#81a489;font-family:'Gentium Book Basic',sans-serif;font-size:1em}
h1{font-family:'Open Sans';font-weight:normal}
#footer{font-size:.75em;font-family:'Open Sans';font-weight:normal}
