color1 = #122430
color2 = #273E45
color3 = #FFFCE2
color4 = #EBD2B5
color5 = #E63531

shade2 = #446C78

/* media queries */
autotext(n)
  @media screen and (max-width: 300px)
    font-size n - 0.3em
  @media screen and (min-width: 500px)
    font-size n - 0.2em
  @media screen and (min-width: 700px)
    font-size n - 0.1em
  @media screen and (min-width: 1200px)
    font-size n

body
  color color3
  background-color color1
  font-family 'Gentium Book Basic', sans-serif
  autotext(1.2em)
  padding 0
  margin 0

#header
  background-color color2
  height 175px
  border-bottom 1px solid shade2
  border-top 2px solid shade2
  text-align center
  .author
    font-style italic


#content
  float left
  @media screen and (min-width: 960px)
    width 960px
  @media screen and (min-width: 1280px)
    width 1280px
  margin-left 10%
  margin-top 2%

a
  color color4
  text-decoration none

h1
  font-family 'Open Sans'
  font-weight normal

#side
  float left
  autotext(1.0em)

#footer
  clear both
  font-size .75em
  font-family 'Open Sans'
  font-weight normal
  margin-left 10%
  margin-right 10%
  text-align center


