color1 = #2c3e50
color2 = #e74c3c
color3 = #ecf0f1
color4 = #3498db
color5 = #2980b9

body
  color #ffffff
  background-color color1
  font-family 'Gentium Book Basic', sans-serif
  font-size 1em
  padding 0
  margin 0

#navbar
  margin-top 10px
  height 100px

h1
  font-family 'Open Sans'
  font-weight normal

#footer
  font-size .75em
  font-family 'Open Sans'
  font-weight normal

